.section-products {
  margin: 0 auto;
  background-color: #1d2127;
  margin-top: 4rem;
}

.our-products {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 2rem;
  gap: 2em;
  width: 90%;
  align-items: center;
}

.products-texts {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10;
}

@media (min-width: 1200px) {
  .our-products {
    gap: 0;
  }
}
