.opinions_container {
  display: flex;
  gap: 3em;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.opinions {
  background-color: #1d2127;
  color: rgb(255, 255, 255);
  margin-top: 10%;
}

.opinions h2 {
  text-align: center;
  font-size: 15px;
  margin-bottom: 5%;
}

.opinions img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
}

.opinions h3 {
  font-size: 16px;
}

.opinions p {
  font-size: 12px;
}

.opinion_one,
.opinion_two,
.opinion_three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_opinion {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .opinions_container {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .opinions_container {
    width: 80%;
  }
}
