@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Playfair+Display:wght@500&display=swap");

.rectangleContainer {
  width: 180px;
  height: 179.2px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangleContainer img {
  width: 135px;
  height: 134.4px;
  border-radius: 20px;
}

.rectangleContainer h3 {
  font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif;
  color: #fff;
  text-align: center;
  text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.35);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.rectangleTwo {
  width: 134px;
  height: 77px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rectanglePrice {
  width: 88px;
  height: 27px;
  border-radius: 32px;
  background: rgba(217, 217, 217, 0.25);
  box-shadow: 4px 7px 15px 0px rgba(0, 0, 0, 0.08),
    -5px 5px 12px 0px rgba(0, 0, 0, 0.05) inset,
    5px -5px 12px 0px rgba(0, 0, 0, 0.05) inset,
    -1px 0px 2px 0px rgba(0, 0, 0, 0.1) inset;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.dolar {
  fill: #e3caa5;
  width: 21px;
  height: 21px;
  margin-right: 5px;
}

.rectanglePrice p {
  color: #e3caa5;

  text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.35);

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.addAndSubstract {
  display: flex;
  margin: 0 auto;
  gap: 1em;
}

.buttonSubstract {
  width: 25px;
  height: 25px;
  background-color: #e3caa5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 35px;
  font-weight: bold;
  outline: none;
  border: none;
}

.buttonSubstract span {
  margin-bottom: 16%;
}

.buttonAdd {
  width: 25px;
  height: 25px;
  background-color: #e3caa5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 35px;
  font-weight: bold;
  outline: none;
  border: none;
}
