@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Playfair+Display:wght@500&display=swap");

.rectangleContainer {
  width: 160px;
  height: 188px;
  background: #454545;
  border: 1px solid #e3caa5;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangleContainer img {
  width: 135px;
  height: 134.4px;
  border-radius: 20px;
}

.rectangleContainer h3 {
  font-family: "Inter", sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.35);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.rectangleTwo {
  width: 134px;
  height: 77px;
  border-radius: 10px;
  background: #454545;
  border: 1px solid #e3caa5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rectanglePrice {
  width: 96px;
  height: 30px;
  border-radius: 16px;
  border: 1px solid #e3caa5;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.dolar {
  fill: #e3caa5;
  width: 21px;
  height: 21px;
  margin-right: 5px;
}

.rectanglePrice p {
  color: #e3caa5;

  text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.35);

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sectionForProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.sectionDesign {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  gap: 2rem;
}

.search-bar-section {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4rem;
  column-gap: 1.2rem;
  width: 80%;
  justify-content: space-around;
  align-items: space-around;
}

@media (min-width: 1200px) {
  .productsContainer {
    width: 60%;
  }
}
