@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Playfair+Display:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: #201520;
}

.containerProducts {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  margin-bottom: 5%;
  margin-top: 5%
}


.containerFoodProducts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 2.5em;
  margin-bottom: 5%;
  margin-top: 5%
}


.container-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 2.5em;
  margin-bottom: 5%;
  margin-top: 5%
}


.search-bar-section {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.coffee-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 45px;
  border-radius: 10px;
  background: #e3caa5;
  margin: 0 auto;
  margin-top: 1.5em;
  border-color: #e3caa5;
  font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif;
  color: #fff;

  text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.35);
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  font-size: 14px;
}

.cold-coffee {
  margin-top: 10%;
  width: 131px;
  height: 45px;
  border-radius: 10px;
  background: #e3caa5;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif;
  color: #fff;
  text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.35);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 5%;
}

.hot-coffee {
  width: 131px;
  height: 45px;
  border-radius: 10px;
  background: #e3caa5;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif;
  color: #fff;
  text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.35);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 1em;
  margin-left: 5%;
}

.products-coffee-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: space-evenly;
  align-content: space-evenly;
}

@media (min-width: 480px) {
  .products-coffee-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 480px) {
  .container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}


@media (min-width: 480px) {
  .containerFoodProducts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

