* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
 
}

.form_contact {
  background-image: url(../assets/img/back_form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 50px 50px;
  background-size: 100% 100%;
  height: 320px;
  overflow: hidden;
  
}

.formulary {
  background-color: #00000060;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
 
}

.form_name {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 15%;
 
  
}
#first_name{
  grid-column: 4/5;
  grid-row: 1/2;
 
}
#last_name{
  grid-column: 11/12;
  grid-row: 1/2;
  margin-left:4px;
}
#email{
  grid-column: 8/9;
  grid-row: 2/3;
  margin-left:-12px;
}

.inputs_form {
  background-color: #d9d9d957;
  width: 160px;
  height: 29px;
  border-radius: 32px;
  border: none;
}

::placeholder {
  color: rgb(255, 255, 255);
  text-align: center;
}

.text_form {
  display: grid;
  grid-template-columns: repeat(8, 1f);
  grid-template-rows: repeat(2, auto);
  margin: 20px;
}
.text_form p{
  grid-column:2/6;
  grid-row: 1/2;
}

.radios_consult {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(3, auto);
  margin-bottom: 1rem;
}
.pay{
  grid-column: 4/5;
  grid-row: 1/2;
}
.work{
  grid-column: 9/10;
  grid-row: 1/2;
}
.other{
  grid-column: 14/15 ;
  grid-row: 1/2 ;

}

.radios_consult p {
  text-align: center;
  font-size: 12px;
}

.input_consult {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d957;
  border-radius: 32px;
  border: none;
  width: 88px;
  height: 29px;
}

.button {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(2, auto);

}

.btn_form {
  background-color: #e3caa5 !important;
  width: 110px;
  height: 25px;
  border-radius: 80px;
  border: none;
  margin-bottom: 1em;
  grid-column: 5/6;
  grid-row: 1/2;
  margin-left: -12px;
}
