.hamburger-deploy {
  width: 100%;
  height: 40vh;
  background-image: url(../assets/img/CODESPRESSOBACK3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hamburger-filter {
  background-color: #00000060;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.searchBar {
  display: flex;
}

.selectorHambur {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  gap: 0.7rem;
  align-items: center;
}

.buttonHambur {
  outline: none;
  border: none;
  color: white;
  background-color: #e3caa5;
  width: 134px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.home-icon  {
  width: 25px;
  height: 25px;
  fill: #e3caa5;
  cursor: pointer;
}

.registerContainer {
  display: flex;
  justify-content: center;
  gap: 10em;
}

.registerHambur {
  background: none;
  right: 0;
  bottom: 0;
  color: #e3caa5;
  outline: none;
  border: none;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
