.menuCoffeContainer {
  width: 100%;
  height: 40vh;
  background-image: url(../assets/img/CODESPRESSOBACK3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.filterMenuCoffee {
  background-color: #00000060;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filterMenuCoffee h2 {
  color: #fff;
  text-align: center;
  text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.35);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 50%;
  margin-right: 50%;
}

.buttonContainer {
  position: relative;
  text-align: center;
  top: 35px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.buttonContainer button {
  width: 92px;
  height: 45px;
  border-radius: 10px;
  background: #e3caa5;
  outline: none;
  border: none;
  color: #fff;
  text-align: center;
  text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.35);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
