.opinions_container {
  display: flex;
  gap: 3em;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.opinions {
  background-color: #201520;
  color: rgb(255, 255, 255);
  margin-top: 10%;
}

.opinions h2 {
  text-align: center;
  font-size: 15px;
}

.opinions img {
  width: 80px;
  height: 70px;
  border-radius: 20px;
}

.opinions h3 {
  font-size: 16px;
}

.opinions p {
  font-size: 12px;
}

.opinion_one {
  display: flex;
}

.text_opinion {
  background-color: #c38963;
  border-radius: 5%;
  margin-left: 10px;
  padding: 5px;
  font-family: "Inter", sans-serif;
}

.opinion_two {
  display: flex;
  margin-bottom: 15%;
}

.text_two {
  background-color: #c38963;
  border-radius: 5%;
  margin-left: 10px;
  padding: 5px;
  font-family: "Inter", sans-serif;
}
