* {
  margin: 0;
  padding: 0;
}

.main_register {
  background-image: url(../assets/img/back_form.jpg);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-size: 100% 100%;
  overflow: hidden;
  font-size: 12px;
}

.form_register {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #00000060;
}

.form {
  display: flex;
  margin-left: 50px;
  color: rgb(255, 255, 255);
}

.form_person {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 1rem;
}
.label_name {
  grid-column: 1/2;
  grid-row: 1/2;
}
.label_last {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 6rem;
}
.label_email {
  grid-column: 2/3;
  grid-row: 2/3;
}
.label_password {
  grid-column: 2/3;
  grid-row: 3/4;
}
.label_date {
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  margin-left: 2px;
}
.date {
  padding-left: 1rem;
  color: rgb(255, 255, 255);
}
.gender_div {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 1rem;
}
.gender {
  grid-row: 1/2;
  grid-column: 1/2;
}
.man {
  grid-row: 2/3;
  grid-column: 1/2;
}

.woman {
  grid-row: 2/3;
  grid-column: 2/3;
  margin-left: 1.5rem;
}
.otherRegister {
  grid-row: 2/3;
  grid-column: 3/4;
  margin-left: 3rem;
}

.input_gender {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d957;
  border-radius: 32px;
  border: none;
  width: 100%;
  height: 30px;
}
.inputs_form {
  background-color: #d9d9d957;
  width: 140px;
  height: 29px;
  border-radius: 32px;
  border: none;
}

.button_form {
  display: flex;
  justify-content: center;
  margin-right: 2rem;
}
::placeholder {
  color: rgb(255, 255, 255);
  text-align: center;
}

.btn_form {
  background-color: #e3caa5;
  width: 110px;
  height: 25px;
  border-radius: 80px;
  border: none;
  color: rgb(255, 255, 255);
  margin-bottom: 1em;
}
