@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
.title-banner {
  color: #fff;

  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: 'Playfair Display', serif;

}

.subtitle-banner {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
