@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Playfair+Display:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* outline: 0.4px solid red; */
}
main {
  padding-top: 9vh;
}

body {
  position: relative;
  background: #1d2127;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #e3caa5;
  border-radius: 6px;
}

body::-webkit-scrollbar-corner {
  background-color: transparent;
}
