* {
  margin: 0;
  padding: 0;
}

.form_contact {
  background-color: #1d2127;
  overflow: hidden;
  color: rgb(255, 255, 255);
}

.formulary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.form_name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs_form {
  background-color: #d9d9d957;
  width: 160px;
  height: 29px;
  border-radius: 32px;
  border: none;
  color: rgb(255, 255, 255);
  margin: 0.5rem 0;
}

::placeholder {
  color: rgb(255, 255, 255);
  text-align: center;
}

.text_form {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, auto);
  margin: 20px;
}
.text_form p {
  grid-column: 2/6;
  grid-row: 1/2;
}

.radios_consult {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  margin-bottom: 1rem;
  justify-content: center;
}
.pay {
  grid-column: 1/2;
  grid-row: 1/2;
}
.work {
  grid-column: 2/3;
  grid-row: 1/2;
}
.other {
  grid-column: 3/4;
  grid-row: 1/2;
}

.radios_consult p {
  text-align: center;
  font-size: 12px;
}

.input_consult {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d957;
  border-radius: 32px;
  border: none;
  width: 112px;
  height: 36px;
}

.button_Cont {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  border: 2px solid #b29e80;
  border-radius: 80px;
  margin-bottom: 2rem;
}

.button button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 80px;
  width: 134px;
  height: 35px;
}

.button button:hover {
  background-color: #b29e80;
  color: #000000;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.582);
  width: 134px;
  height: 35px;
}

@media (min-width: 480px) {
  .form_name {
    display: flex;
    flex-direction: row;
  }
}
