.main_register {
  background-color: #1d2127;
  overflow: hidden;
  font-size: 12px;
}

.form_register {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.form {
  display: flex;
  color: rgb(255, 255, 255);
}

.form_person {
  margin-left: 25px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 1rem;
}
.label_name {
  grid-column: 1/2;
  grid-row: 1/2;
}
.label_last {
  grid-column: 2/3;
  grid-row: 1/2;
}
.label_email {
  grid-column: 2/3;
  grid-row: 2/3;
}
.label_password {
  grid-column: 2/3;
  grid-row: 3/4;
}

.date_all,
.gender_all {
  display: flex;
  justify-content: center;
}

.label_date {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, auto);
  margin: 1rem;
}
.date {
  padding-left: 1rem;
  color: rgb(255, 255, 255);
}
.gender_div {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 1rem;
}
.gender {
  grid-row: 1/2;
  grid-column: 1/2;
}
.man {
  grid-row: 2/3;
  grid-column: 1/2;
}

.woman {
  grid-row: 2/3;
  grid-column: 2/3;
  margin-left: 1.5rem;
}
.otherRegister {
  grid-row: 2/3;
  grid-column: 3/4;
  margin-left: 3rem;
}

.input_gender {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d957;
  border-radius: 32px;
  border: none;
  width: 75px;
  height: 30px;
}
.inputs_form {
  background-color: #d9d9d957;
  width: 154px;
  height: 36px;
  border-radius: 32px;
  border: none;
  padding-left: 0.5rem;
}

::placeholder {
  color: rgb(255, 255, 255);
  text-align: center;
}

.button_all {
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  margin-bottom: 1rem;
}

.button_form {
  display: flex;
  justify-content: center;
  width: 134px;
  height: 35px;
}

.button_form button {
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  border: 2px solid #b29e80;
  background-color: transparent;
}

.button_form button:hover {
  background-color: #b29e80;
  color: #000000;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.582);
}

@media (min-width: 768px) {
  .form_person {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 1rem;
    margin-bottom: 0.7rem;
    justify-items: center;
  }
  .label_name {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .label_last {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .label_email {
    grid-column: -3/-2;
    grid-row: 2/3;
  }
  .label_password {
    grid-column: 2/3;
    grid-row: -2/-1;
  }
}
